@import "styles/variables.scss";

#root {
  margin: 0 auto;
  padding: 0;
}

main {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 24px;

    .menu-options {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      text-decoration: none;

      a {
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        color: #ffff;
        cursor: pointer;

        &:hover {
          color: $color-primary;
          transition: all 500ms;
        }
      }
    }

    button {
      border-radius: 24px;
      border: none;
      font-weight: 500;
      font-size: 16px;
      background-color: transparent;
      overflow: hidden;
      position: relative;

      div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      height: 100%;
      width: 100%;
      padding: 16px 30px;
      border-radius: 24px;
      border: none;
    }
      .btn-face-white {
        color: rgb(51, 51, 51);
        background: white;  
        z-index: 998;
      }

      .btn-face-purple {
        background: linear-gradient(45deg, #7223cf, #da2eb8);
        color: #ffff;
        display: none;
        z-index: 999;
        position: absolute;
        top: 0;
      } 

      &:hover {
        .btn-face-purple {
          display: flex;
          animation: appear 500ms linear 100ms forwards;
        }
      }
    }
  }
}

@keyframes appear {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}